<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Réservations</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" href="/img/logo.svg" type="image/svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
     <header class="header">
        <nav class="container">
            <a href="/">
                <img src="/img/logo.svg" alt="" class="img-fluid" width="80">
            </a>
            <ul>
                <li><a href="/reservations">Réservations</a></li>
                <li><a href="/voyages">Voyages</a></li>
                <li><a href="/transports">Transports</a></li>
                <li><a href="/clients">Clients</a></li>
            </ul>
        </nav>
    </header>
    <main>
         <div class="container mt-5">
        <h1>Liste des Réservations</h1>
        <a href="/reservations/add" class="btn btn-primary mb-3">Ajouter une Réservation</a>
        
        <form action="/reservations/filter" method="get" class="mb-3 d-flex align-items-center justify-content-between">
            <div class="row">
                <div class="form-check form-switch d-flex align-items-center">
                    <input class="form-check-input mx-2 check" type="checkbox" id="paye" name="paye" th:checked="${paye != null ? paye : false}">
                    <label class="form-check-label" for="paye">Filtrer par paiement</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Rechercher client (Nom)" name="nom">
                </div>
            </div>
            <button type="submit" class="btn btn-primary px-5">Filtrer</button>
        </form>
        
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Client</th>
                    <th>Détails du voyage</th>
                    <th>Payée</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reservation : ${reservations}">
                    <td th:text="${reservation.id}"></td>
                    <td>
                        <span th:text="${reservation.client.nom}"></span>
                        (<span th:text="${reservation.client.prenom}"></span>)
                    </td>
                    <td>
                        Transport: <span th:text="${reservation.voyage.transport.typeTransport}"></span><br>
                        Destination: <span th:text="${reservation.voyage.destination}"></span><br>
                        Date de départ: <span th:text="${reservation.voyage.dateDebut}"></span><br>
                        Heure de départ : <span th:text="${reservation.voyage.transport.heureDepart}"></span><br>
                        Prix: <span th:text="${reservation.voyage.prix}"></span> €
                    </td>
                    <td th:text="${reservation.paye ? 'Oui' : 'Non'}"></td>
                    <td>
                        <a th:href="@{/reservations/edit/{id}(id=${reservation.id})}" class="btn btn-primary btn-sm d-flex align-items-center my-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                            <span class="mx-1"> Modifier</span>
                        </a>
                        <a th:href="@{/reservations/delete/{id}(id=${reservation.id})}" class="btn btn-dark btn-sm d-flex align-items-center" 
                        onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette réservation ?');">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                        </svg>
                        </svg>
                        <span class="mx-1">Supprimer</span>
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
        <div th:if="${message} !=''" th:text="${message}" class="text-danger"></div>
    </div>
    <footer class="py-3">
        <p> &copy 2025 Agence de Voyage. Tous droits réservés.</p>
    </footer>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
