<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Client</title>
    <link rel="stylesheet" href="/style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <ul>
            <li><a href="/" class="active" >Home</a></li>
            <li style="float:right" ><a href="/reservations">Réservations</a></li>
            <li style="float:right"><a href="/voyages">Voyages</a></li>
            <li style="float:right" ><a href="/transports">Transports</a></li>
            <li style="float:right" ><a href="/clients">Clients</a></li>
        </ul>
    </header>
    <main>
        <div class="container mt-5">
        <h1>Ajouter un Client</h1>
        <form th:action="@{/clients/add}" th:object="${client}" method="post">
            <div class="mb-3">
                <label for="nom" class="form-label">Nom</label>
                <input type="text" id="nom" th:field="*{nom}" class="form-control" placeholder="Entrez le nom">
                <div th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="text-danger"></div>
            </div>

            <div class="mb-3">
                <label for="prenom" class="form-label">Prénom</label>
                <input type="text" id="prenom" th:field="*{prenom}" class="form-control" placeholder="Entrez le prénom">
                <div th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}" class="text-danger"></div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" th:field="*{email}" class="form-control" placeholder="Entrez l'email">
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
            </div>

            <div class="mb-3">
                <label for="telephone" class="form-label">Numéro de Téléphone</label>
                <input type="text" id="telephone" th:field="*{telephone}" class="form-control" placeholder="Entrez le numéro de téléphone">
                <div th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}" class="text-danger"></div>
            </div>

            <button type="submit" class="btn btn-primary">Ajouter</button>
            <a href="/clients" class="btn btn-dark">Retour</a>
        </form>
    </div>
    <footer>
        <p> &copy 2025 Agence de Voyage. Tous droits réservés.</p>
    </footer>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
