<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier un Transport</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" href="/img/logo.svg" type="image/svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <ul>
            <li><a href="/" class="active" >Home</a></li>
            <li style="float:right" ><a href="/reservations">Réservations</a></li>
            <li style="float:right"><a href="/voyages">Voyages</a></li>
            <li style="float:right" ><a href="/transports">Transports</a></li>
            <li style="float:right" ><a href="/clients">Clients</a></li>
        </ul>
    </header>
   <main>
     <div class="container mt-5">
        <h1>Modifier un Transport</h1>
        <form th:action="@{/transports/edit/{id}(id=${transport.id})}" th:object="${transport}" method="post">

            

            <div class="mb-3">
                <label for="typeTransport" class="form-label">Type de Transport</label>
                <select name="typeTransport" id="typeTransport"  th:field="*{typeTransport}" class="form-control">µ
                    <option value="">Selectionnez un type de transport</option>
                    <option value="VOITURE">Voiture</option>
                    <option value="AVION">Avion</option>
                    <option value="BATEAU">Bateau</option>
                    <option value="BUS">Bus</option>
                    <option value="TRAIN">Train</option>
                </select>
                <div th:if="${#fields.hasErrors('typeTransport')}" th:errors="*{typeTransport}" class="text-danger"></div>
            </div>
            
            <div class="mb-3">
                <label for="compagnie" class="form-label">Compagnie</label>
                <input type="text" id="compagnie" th:field="*{compagnie}" class="form-control">
                <div th:if="${#fields.hasErrors('compagnie')}" th:errors="*{compagnie}" class="text-danger"></div>
            </div>
                        <div class="mb-3">
                <label for="dateDepart" class="form-label">Date de Départ</label>
                <input type="date" id="dateDepart" th:field="*{dateDepart}" class="form-control">
                <div th:if="${#fields.hasErrors('dateDepart')}" th:errors="*{dateDepart}" class="text-danger"></div>
            </div>
             <div class="mb-3">
                <label for="dateArrivee" class="form-label">Date de Arrivée</label>
                <input type="date" id="dateArrivee" th:field="*{dateArrivee}" class="form-control">
                <div th:if="${#fields.hasErrors('dateArrivee')}" th:errors="*{dateArrivee}" class="text-danger"></div>
            </div>
            <div class="mb-3">
                <label for="heureDepart" class="form-label">Heure de Départ</label>
                <input type="time" id="heureDepart" th:field="*{heureDepart}" class="form-control">
                <div th:if="${#fields.hasErrors('heureDepart')}" th:errors="*{heureDepart}" class="text-danger"></div>
            </div>
            <div class="mb-3">
                <label for="heureArrivee" class="form-label">Heure d'Arrivée</label>
                <input type="time" id="heureArrivee" th:field="*{heureArrivee}" class="form-control">
                <div th:if="${#fields.hasErrors('heureArrivee')}" th:errors="*{heureArrivee}" class="text-danger"></div>
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="/transports" class="btn btn-dark">Retour</a>
        </form>
    </div>
    <footer>
        <p> &copy 2025 Agence de Voyage. Tous droits réservés.</p>
    </footer>
   </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
