<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'Accueil - Agence de Voyage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" href="/img/logo.svg" type="image/svg">
   
</head>
<body>

    <div class="hello-customer py-3">
        <div class="container ">
            <h5 class="mt-1">Hey!</h5>
            <p>Nous vous souhaitons la bienvenue sur notre plateforme dédiée à la gestion des voyages.</p>
        </div>
    </div>
    <header>
        <img src="https://images.unsplash.com/photo-1488085061387-422e29b40080?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D" alt="" class="banner-img">
        <nav class="container">
            <a href="/">
                <img src="/img/logo.svg" alt="" class="img-fluid" width="80">
            </a>
            <ul>
                <li><a href="/reservations">Réservations</a></li>
                <li><a href="/voyages">Voyages</a></li>
                <li><a href="/transports">Transports</a></li>
                <li><a href="/clients">Clients</a></li>
            </ul>
        </nav>
        <section class="banner">
            <div>
                <h3>Organisez vos voyages en quelques clics</h3>
                <p>Notre plateforme vous permet de gérer efficacement les informations essentielles liées à
                    vos clients, aux voyages proposés, aux réservations effectuées, ainsi qu'aux moyens de transport associés.</p>

            </div>
        </section>

        <section class="container-fluid section-menu mt-5">
            <div class="row">

            <!-- Client Section -->
            <div class="col-lg-3 item-section">
                <div>
                    <img src="/img/person-team-svgrepo-com.svg" width="50" alt="Clients">
                    <h5 >Clients</h5>
                    <p>Gérer et consulter les informations des clients enregistrés.</p>
                    <a href="/clients">Voir les Clients</a>
                </div>
            </div>

             <!-- Transport Section -->
            <div class="col-lg-3 item-section">
                <div >
                    <img src="/img/maximum-speed-svgrepo-com.svg" width="50" alt="Transports">
                    <h5>Transports</h5>
                    <p>Gérer et consulter les moyens de transport disponibles pour les voyages.</p>
                    <a href="/transports">Voir les Transports</a>
                </div>
            </div>

            <!-- Voyage Section -->
            <div class="col-lg-3 item-section">
                <div>
                    <img src="/img/travel-svgrepo-com.svg"  width="50" alt="Voyages">
                    <h5>Voyages</h5>
                    <p >Gérer et consulter les voyages proposés par l'agence.</p>
                    <a href="/voyages">Voir les Voyages</a>
                </div>
            </div>

           
            <!-- Reservation Section -->
            <div class="col-lg-3 item-section" >
                <div>
                    <img src="/img/seal-frame-1-svgrepo-com.svg" width="40" alt="Réservations">
                    <h5>Réservations</h5>
                    <p >Gérer et consulter les réservations effectuées par les clients.</p>
                    <a href="/reservations">Voir les Réservations</a>
                </div>
            </div>

            
        </div>
        </section>
    </header>














   <main class="home">

         <div class="container my-5 about">
         <div class="row d-flex align-items-center">
        <div class="col-lg-7">
            <p>
                Bienvenue sur notre plateforme de gestion d'agence de voyage
            Notre site est conçu pour simplifier et optimiser la gestion des activités d'une agence de voyage.
            Il vous permet de gérer efficacement les informations essentielles liées à vos clients, 
            aux voyages proposés, aux réservations effectuées, ainsi qu'aux moyens de transport associés. <br>
            <a href="/reservations" >Commencer</a>
            </p>
            
        </div>
        <div class="col-lg-5 d-flex justify-content-start plane">
            <img src="/img/plane.png" alt="" class="img-fluid" width="300">
        </div>
    </div>
    </div>
   
    <footer class="py-3">
        <p> &copy 2025 Agence de Voyage. Tous droits réservés.</p>
    </footer>
   </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
